/*======================================================*/
/* FONTS */
/*======================================================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i&subset=cyrillic");
/*======================================================*/
/* NORMALIZE AND RESET */
/*======================================================*/
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

main {
	display: block;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

input {
	overflow: visible;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	display: table;
	max-width: 100%;
	padding: 0;
	color: inherit;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

details {
	display: block;
}

summary {
	display: list-item;
}

menu {
	display: block;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/* reset */
*, *::after, *::before {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
}

body, html {
	height: 100%;
	width: 100%;
}

form {
	margin: 0;
	padding: 0;
}

input, input:focus, textarea, select {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none !important;
}

button,
textarea,
.select select,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="number"],
input[type="range"] {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border-radius: 0;
}

select[disabled] {
	cursor: default;
}

select::-ms-expand {
	display: none;
}

input {
	vertical-align: middle;
}

input::-ms-clear {
	display: none;
}

input[type="radio"]:focus {
	-moz-outline-radius: 12px !important;
	-moz-outline-offset: 0 !important;
}

input[type="checkbox"]:focus {
	-moz-outline-offset: -1px !important;
	-moz-outline: 1px solid #000 !important;
}

input[type="radio"],
input[type="checkbox"],
select {
	cursor: pointer;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
	content: none;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	width: 100%;
}

/* reset end */
/* browserupgrade */
.old-ie {
	overflow: hidden;
}

.old-ie body {
	overflow: hidden;
}

.browserupgrade {
	position: fixed;
	height: 100%;
	width: 100%;
	padding: 0.2em 0;
	margin: 0;
	font-size: 28px;
	line-height: 42px;
	color: #000;
	background: #ccc;
	z-index: 99999;
}

.browserupgrade p {
	position: absolute;
	width: 100%;
	top: 50%;
	margin: -22px 0 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

/* browserupgrade end */
/* no js warning */
.no-js-warning {
	border: 2px solid #f00;
	color: #f00;
	background: #fff;
	padding: 5px 20px;
	font-size: 18px;
}

/* no js warning end */
/*======================================================*/
/* TYPOGRAPHY */
/*======================================================*/
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	color: #fff;
	margin: 0 0 2.2rem;
}

@media (max-width: 639px) {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 1.9rem;
	}
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
	margin-bottom: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: inherit;
}

.no-touchevents h1 a:hover, .no-touchevents h2 a:hover, .no-touchevents h3 a:hover, .no-touchevents h4 a:hover, .no-touchevents h5 a:hover, .no-touchevents h6 a:hover {
	color: #ffa43f;
	text-decoration: underline;
}

h1 {
	font-size: 4.8rem;
	line-height: 1.3;
}

@media (max-width: 991px) {
	h1 {
		font-size: 3.6rem;
		line-height: 1.3;
	}
}

@media (max-width: 639px) {
	h1 {
		font-size: 3rem;
		line-height: 1.4;
	}
}

h2 {
	font-size: 3.6rem;
	line-height: 1.33;
}

@media (max-width: 991px) {
	h2 {
		font-size: 3rem;
		line-height: 1.3;
	}
}

@media (max-width: 639px) {
	h2 {
		font-size: 2.6rem;
		line-height: 1.4;
	}
}

h3 {
	font-size: 2.4rem;
	line-height: 1.5;
}

@media (max-width: 639px) {
	h3 {
		font-size: 2.2rem;
		line-height: 1.5;
	}
}

h4 {
	font-size: 1.8rem;
	line-height: 1.67;
}

h5 {
	font-size: 1.6rem;
	line-height: 1.4;
}

h6 {
	font-size: 1.2rem;
	line-height: 1.75;
	text-transform: uppercase;
}

p {
	padding: 0;
	margin: 0 0 2.2rem;
}

hr {
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid lightgray;
	margin-bottom: 2.2rem;
}

a {
	color: #fff;
	text-decoration: underline;
	cursor: default;
}

a:link {
	cursor: pointer;
}

.no-touchevents a:hover {
	text-decoration: none;
}

a[href^="tel"], .no-touchevents a[href^="tel"]:hover {
	text-decoration: none !important;
	color: inherit;
	cursor: default;
}

a[href^="javascript:"] {
	cursor: default;
}

img {
	border: none;
	vertical-align: top;
	max-width: 100%;
}

table img {
	max-width: none;
}

b, strong, th {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

i b, i strong, em b, em strong, b i, b em, strong i, strong em {
	font-weight: 700;
	font-style: italic;
}

.mark {
	color: #ffa43f;
}

.text-color-alt {
	color: #ffa43f;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.nobr {
	white-space: nowrap;
}

.hide-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hide-text:active, .hide-text:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*content img */
.imgc {
	text-align: center;
	display: block;
	margin: 0 auto 2.2rem;
	width: 1000px;
	max-width: 100%;
	clear: both;
}

.imgl {
	text-align: left;
	float: left;
	margin: 0 2.2rem 2.2rem 0;
}

.imgr {
	text-align: right;
	float: right;
	margin: 0 0 2.2rem 2.2rem;
}

.imgl, .imgr {
	max-width: 40%;
}

@media (max-width: 767px) {
	.imgl, .imgr {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}
}

.imgc figcaption, .imgl figcaption, .imgr figcaption {
	display: block;
	padding: 2.2rem 0 0;
	margin: 0;
	font-size: 1.4rem;
	line-height: 1.7;
}

/*content img end */
.section-content p + h2,
.section-content ul + h2,
.section-content ol + h2,
.section-content hr + h2,
.section-content table + h2,
.section-content .table-auto + h2 {
	margin-top: 4.4rem;
}

.section-content p + h3,
.section-content ul + h3,
.section-content ol + h3,
.section-content hr + h3,
.section-content table + h3,
.section-content .table-auto + h3 {
	margin-top: 4.4rem;
}

.section-content p + h4,
.section-content ul + h4,
.section-content ol + h4,
.section-content hr + h4,
.section-content table + h4,
.section-content .table-auto + h4 {
	margin-top: 4.4rem;
}

.section-content p + h5,
.section-content ul + h5,
.section-content ol + h5,
.section-content hr + h5,
.section-content table + h5,
.section-content .table-auto + h5 {
	margin-top: 4.4rem;
}

/*table */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
	margin-bottom: 2.2rem;
	border-color: currentColor;
}

table td, table th {
	font-size: 1.6rem;
	line-height: 1.4;
	color: inherit;
	padding: 8px 15px;
	border-color: currentColor;
}

.table-auto {
	position: relative;
	overflow: auto;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 2.2rem;
}

.table-auto table {
	margin-bottom: 0;
	width: auto;
	min-width: 100%;
}

/*table end */
/* === BUTTON === */
/* btn-default */
.btn-def {
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	padding: 12px 20px 12px;
	border: 2px solid transparent;
	background: #f48130;
	box-shadow: 0 2px 12px rgba(201, 79, 8, 0.5);
	border-radius: 4px;
	margin: 0;
	will-change: box-shadow, opacity;
	transition-property: box-shadow, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.btn-def, .btn-def > span {
	font-size: 16px;
	line-height: 22px;
	letter-spacing: normal;
}

.no-touchevents .btn-def:hover {
	box-shadow: 0 2px 12px rgba(255, 255, 255, 0.6);
}

.no-touchevents .btn-def:active {
	opacity: 0.8;
}

.no-touchevents .section-content .btn-def:hover {
	box-shadow: 0 2px 12px #ff5d00;
}

.no-touchevents .section-content .btn-def:active {
	opacity: 0.8;
}

.btn-def:disabled, .btn-def.disabled, .btn-def[data-disabled] {
	cursor: default;
	opacity: 1 !important;
	background-color: #ccc !important;
	box-shadow: none !important;
}

.btn-def:disabled::before, .btn-def:disabled::after, .btn-def.disabled::before, .btn-def.disabled::after, .btn-def[data-disabled]::before, .btn-def[data-disabled]::after {
	display: none;
	background-color: #ffa43f;
}

/* btn-default end */
/* === BUTTON end === */
/*======================================================*/
/* COMMON */
/*======================================================*/
/* nav */
.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	height: 6.3rem;
}

.nav a {
	color: currentColor;
	text-decoration: none;
}

.nav .nav__arr {
	display: inline-block;
	width: 3.6rem;
	height: 3.6rem;
	font-size: 0;
	line-height: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	will-change: opacity, filter;
	transition-property: opacity, filter;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.nav .nav__arr::before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 0;
	height: 0;
	z-index: 2;
	border-right: 18px solid #fff;
	border-bottom: 18px solid transparent;
	border-top: 18px solid transparent;
}

.no-touchevents .nav .nav__arr:hover {
	filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.6));
}

.no-touchevents .nav .nav__arr:active {
	opacity: 0.8;
}

.nav .nav__arr_bottom::before {
	-ms-transform: rotate(-0.25turn);
	    transform: rotate(-0.25turn);
}

.nav .nav__arr_top::before {
	-ms-transform: rotate(0.25turn);
	    transform: rotate(0.25turn);
}

.nav .nav__page {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.6rem;
	text-transform: uppercase;
	cursor: default;
	will-change: opacity, filter;
	transition-property: opacity, filter;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.nav a.nav__page {
	cursor: pointer;
}

.nav .nav__page_large {
	font-size: 2.7rem;
}

.no-touchevents .nav a.nav__page:hover {
	filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.6));
}

.no-touchevents .nav a.nav__page:active {
	opacity: 0.8;
}

.nav .nav__info {
	display: inline-block;
	width: 3.6rem;
	height: 3.6rem;
	background: url(../img/info@2x.png) no-repeat;
	background-size: 100%;
	font-size: 0;
	line-height: 0;
	border-radius: 50%;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: transparent;
	will-change: opacity, filter;
	transition-property: opacity, filter;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.no-touchevents .nav .nav__info:hover {
	filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.6));
}

.no-touchevents .nav .nav__info:active {
	opacity: 0.8;
}

/* nav end */
/* main section */
.main-section {
	height: 100%;
	-ms-flex-positive: 1;
	    flex-grow: 1;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 1.2;
	text-decoration: none;
	color: inherit;
	padding: 2.1rem 1.5rem;
	background-color: #f48130;
	background-repeat: no-repeat;
	background-position: center;
}

.main-section p:last-child, .main-section ul:last-child, .main-section ol:last-child, .main-section table:last-child {
	margin-bottom: 0;
}

.home-page .main-section {
	padding-top: 5.7rem;
	padding-bottom: 8.4rem;
}

.main-section_align-center {
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
}

.main-section__figure {
	padding: 0;
	margin: 0 0 1.9rem;
	text-align: center;
}

.main-section__title {
	width: 100%;
	margin-bottom: 0.2em;
	font-weight: 700;
	font-size: 3.8rem;
	line-height: 1.1;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 5px rgba(244, 129, 48, 0.5);
}

.main-section__title:last-child {
	margin-bottom: 0;
}

.main-section__sub-title {
	margin-bottom: 0.5em;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 1.3;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba(244, 129, 48, 0.5);
}

.main-section__sub-title:last-child {
	margin-bottom: 0;
}

.main-section__enter {
	font-weight: 700;
	font-size: 2.0rem;
	line-height: 1.2;
	margin-bottom: 0.5em;
	padding-top: 1.9rem;
}

.main-section__enter p, .main-section__enter ul, .main-section__enter ol, .main-section__enter table {
	margin-bottom: 2.4rem;
}

.main-section__enter p:last-child, .main-section__enter ul:last-child, .main-section__enter ol:last-child, .main-section__enter table:last-child {
	margin-bottom: 0;
}

.main-section__enter:last-child {
	margin-bottom: 0;
}

a.main-section .main-section__figure img, a.main-section .main-section__title, a.main-section .main-section__sub-title, a.main-section .main-section__enter {
	will-change: opacity, filter;
	transition-property: opacity, filter;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.no-touchevents a.main-section:hover .main-section__figure img, .no-touchevents a.main-section:hover .main-section__title, .no-touchevents a.main-section:hover .main-section__sub-title, .no-touchevents a.main-section:hover .main-section__enter {
	filter: drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.6));
}

.no-touchevents a.main-section:active .main-section__figure img, .no-touchevents a.main-section:active .main-section__title, .no-touchevents a.main-section:active .main-section__sub-title, .no-touchevents a.main-section:active .main-section__enter {
	opacity: 0.8;
}

/*main section end */
/*sign */
.sign {
	margin-bottom: 2.2rem;
}

.sign:last-child {
	margin-bottom: 0;
}

.sign__pre {
	display: block;
	margin-bottom: 0.7rem;
}

.sign__pre:last-child {
	margin-bottom: 0;
}

.sign__name {
	margin-bottom: 0.5em;
	display: block;
	font-size: 1.3em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 500;
}

.sign__name:last-child {
	margin-bottom: 0;
}

/*sign end */
/*section */
.section {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-positive: 1;
	    flex-grow: 1;
	min-height: 230px;
	padding: 2rem 1.5rem;
	background-color: #f48130;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

a.section {
	text-decoration: none;
	color: currentColor;
}

.section__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-position: center;
	background-repeat: repeat-x;
	background-size: 360px;
}

.section_alt {
	background-color: #d8d8d8;
}

.section_alt::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.09);
	will-change: background-color;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.no-touchevents a.section_alt:hover::before {
	background-color: rgba(255, 255, 255, 0.15);
}

.section_light {
	background-color: white;
}

.section_light::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(244, 129, 48, 0.86);
	will-change: background-color;
	transition-property: background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.no-touchevents a.section_light:hover::before {
	background-color: rgba(244, 129, 48, 0.65);
}

.section__date {
	position: relative;
	margin-bottom: 0.2em;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	font-size: 1.8rem;
	line-height: 1.3;
	text-transform: uppercase;
	text-shadow: 0 0 5px rgba(244, 129, 48, 0.5);
}

.section__date:last-child {
	margin-bottom: 0;
}

.section__title {
	position: relative;
	width: 100%;
	margin-bottom: 0.2em;
	font-weight: 700;
	font-size: 2.8rem;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 5px rgba(244, 129, 48, 0.5);
}

.section__title:last-child {
	margin-bottom: 0;
}

@media (max-width: 359px) {
	.section__title {
		font-size: 2.0rem;
	}
}

.section__title_alt {
	margin-bottom: 0.5em;
	font-size: 2.9rem;
	letter-spacing: 0.07em;
}

.section__note {
	position: relative;
	-ms-flex-item-align: start;
	    -ms-grid-row-align: start;
	    align-self: start;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: normal;
	width: 165px;
	max-width: 100%;
}

.section__meta {
	position: relative;
	text-align: center;
}

.section_footer {
	-ms-flex-positive: 0;
	    flex-grow: 0;
	-ms-flex-pack: start;
	    justify-content: flex-start;
	padding-top: 1.5rem;
	min-height: 210px;
}

.section_title {
	padding-bottom: 3.9rem;
}

a.section .section__date, a.section .section__title, a.section .section__meta, a.section .section__note {
	will-change: opacity, text-shadow;
	transition-property: opacity, text-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

a.section .no-touchevents a:hover .section__title, a.section .no-touchevents a:hover .section__date {
	text-shadow: 0 0 5px rgba(244, 129, 48, 0.8);
}

.no-touchevents a.section:active .section__date, .no-touchevents a.section:active .section__title, .no-touchevents a.section:active .section__meta, .no-touchevents a.section:active .section__note {
	opacity: 0.8;
}

/*section end */
/*section content */
.section-content {
	position: relative;
	-ms-flex-positive: 1;
	    flex-grow: 1;
	font-size: 1.6rem;
	line-height: 1.9rem;
	color: #000;
	padding: 2rem 1.5rem 3.6rem;
	background-color: #fff;
}

.section-content h1, .section-content h2, .section-content h3, .section-content h4, .section-content h5, .section-content h6,
.section-content .h1, .section-content .h2, .section-content .h3, .section-content .h4, .section-content .h5, .section-content .h6 {
	color: #ffa43f;
}

.section-content img {
	margin-bottom: 2.2rem;
}

.section-content img:last-child {
	margin-bottom: 0;
}

.section-content p, .section-content ul, .section-content ol, .section-content table {
	margin-bottom: 1.9rem;
}

.section-content p:last-child, .section-content ul:last-child, .section-content ol:last-child, .section-content table:last-child {
	margin-bottom: 0;
}

.section-content .sign {
	margin-bottom: 3.2rem;
}

.section-content .sign:last-child {
	margin-bottom: 0;
}

.section-content .sign__pre {
	margin-bottom: 0.4rem;
}

.section-content .sign__pre:last-child {
	margin-bottom: 0;
}

.section-content .sign__name {
	font-size: 1.1em;
	letter-spacing: 0.1em;
}

/*section content end */
/*footer buttons */
.buttons-wrap {
	text-align: center;
	min-height: 10rem;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*footer buttons end */
/*======================================================*/
/* PARTIALS */
/*======================================================*/
html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.4;
	color: #fff;
	min-width: 32rem;
	background: #f48130 url(../img/bg-desktop@2x.png) no-repeat center -86px fixed;
	background-size: 1280px;
}

/* === LAYOUT === */
.max-wrap {
	max-width: 76.8rem;
}

@media (min-width: 769px) {
	.max-wrap {
		max-width: 36rem;
	}
}

.layout {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin-right: auto;
	margin-left: auto;
}

.wrapper-flex {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-positive: 1;
	    flex-grow: 1;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	-ms-flex-align: stretch;
	    align-items: stretch;
}

.wrapper {
	position: relative;
	padding-top: 6.3rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	-ms-flex-align: stretch;
	    align-items: stretch;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
	max-width: 76.8rem;
	box-shadow: 0 2px 4px rgba(201, 79, 8, 0.5);
}

@media (min-width: 769px) {
	.wrapper {
		max-width: 36rem;
	}
}

.home-page .wrapper {
	padding-top: 0;
}

/* === LAYOUT end === */
/* === CONTENT === */
.main {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-positive: 1;
	    flex-grow: 1;
}

/* === CONTENT end === */
/* === HEADER === */
.header {
	position: relative;
	height: 6.3rem;
}

.header_fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 5;
}

.header__holder {
	height: 100%;
	background-color: #f48130;
	box-shadow: 0 2px 12px rgba(201, 79, 8, 0.5);
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin: 0 auto;
	max-width: 76.8rem;
}

@media (min-width: 769px) {
	.header__holder {
		max-width: 36rem;
	}
}

/* === HEADER end === */
/* === FOOTER === */
.footer {
	position: relative;
}

.footer_float, .home-page .footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 5;
}

.footer__holder {
	height: 100%;
	background-color: #f48130;
	box-shadow: 0 -2px 12px rgba(201, 79, 8, 0.5);
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin: 0 auto;
	max-width: 76.8rem;
}

@media (min-width: 769px) {
	.footer__holder {
		max-width: 36rem;
	}
}

/* === FOOTER end === */

/*# sourceMappingURL=main.css.map */
